<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>order</key>
		<integer>1</integer>
		<key>className</key>
		<string>LanguageNamingViewController</string>
		<key>categoryName</key>
		<string>Language</string>
		<key>testName</key>
		<string>Naming</string>
		<key>preTestInstructions</key>
		<string>In each part of this section, a picture is shown, the person has to name the object shown in the picture. No time limit is enforced for the task.

Incorrect answers are recorded and no prompt for alternative word is provided.

Corrections are allowed; only the final answer is taken for scoring.</string>
		<key>postTestMessage</key>
		<string>The “Language - Naming” section is now completed.

The next section of the test is “Language Comprehension”</string>
		<key>imageDictionaries</key>
		<array>
			<dict>
				<key>order</key>
				<integer>0</integer>
				<key>filename</key>
				<string>scorpion.jpg</string>
				<key>name</key>
				<string>scorpion</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>1</integer>
				<key>filename</key>
				<string>bow.jpg</string>
				<key>name</key>
				<string>bow.jpg</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>2</integer>
				<key>filename</key>
				<string>helicopter.jpg</string>
				<key>name</key>
				<string>helicopter</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>3</integer>
				<key>filename</key>
				<string>fox.jpg</string>
				<key>name</key>
				<string>fox</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>4</integer>
				<key>filename</key>
				<string>axe.jpg</string>
				<key>name</key>
				<string>axe</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>5</integer>
				<key>filename</key>
				<string>squirrel.jpg</string>
				<key>name</key>
				<string>squirrel</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>6</integer>
				<key>filename</key>
				<string>swan.jpg</string>
				<key>name</key>
				<string>swan</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>7</integer>
				<key>filename</key>
				<string>accordion.jpg</string>
				<key>name</key>
				<string>accordion</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>order</key>
		<integer>2</integer>
		<key>className</key>
		<string>LanguageComprehensionViewController</string>
		<key>categoryName</key>
		<string>Language</string>
		<key>testName</key>
		<string>Comprehension</string>
		<key>preTestInstructions</key>
		<string>On each screen 8 objects are shown, a question is either read by the person or to the person, depending on preference. The person has to select one of the 8 objects as an answer to the questions.
            
Some questions will require the repetition of an earlier item to serve as an answer; participants are not warned about this in advance but this can be clarified if queried. If no answer is provided, no picture should be selected.

Self-corrections are allowed; only the final answer is taken for scoring.</string>
		<key>postTestMessage</key>
		<string>The “Language - Comprehension” section is now completed.

The next section of the test is Memory - Recall”</string>
		<key>imageDictionaries</key>
		<array>
			<dict>
				<key>order</key>
				<integer>0</integer>
				<key>filename</key>
				<string>scorpion.jpg</string>
				<key>name</key>
				<string>scorpion</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>1</integer>
				<key>filename</key>
				<string>bow.jpg</string>
				<key>name</key>
				<string>bow.jpg</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>2</integer>
				<key>filename</key>
				<string>helicopter.jpg</string>
				<key>name</key>
				<string>helicopter</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>3</integer>
				<key>filename</key>
				<string>fox.jpg</string>
				<key>name</key>
				<string>fox</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>4</integer>
				<key>filename</key>
				<string>axe.jpg</string>
				<key>name</key>
				<string>axe</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>5</integer>
				<key>filename</key>
				<string>squirrel.jpg</string>
				<key>name</key>
				<string>squirrel</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>6</integer>
				<key>filename</key>
				<string>swan.jpg</string>
				<key>name</key>
				<string>swan</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>7</integer>
				<key>filename</key>
				<string>accordion.jpg</string>
				<key>name</key>
				<string>accordion</string>
			</dict>
		</array>
		<key>questions</key>
		<array>
			<dict>
				<key>correctFileName</key>
				<string>helicopter.jpg</string>
				<key>answer</key>
				<string>helicopter</string>
				<key>question</key>
				<string>Something you can fly in</string>
			</dict>
			<dict>
				<key>correctFileName</key>
				<string>swan.jpg</string>
				<key>answer</key>
				<string>swan</string>
				<key>question</key>
				<string>Something with webbed feet</string>
			</dict>
			<dict>
				<key>correctFileName</key>
				<string>squirrel.jpg</string>
				<key>answer</key>
				<string>squirrel</string>
				<key>question</key>
				<string>An animal that climbs trees</string>
			</dict>
			<dict>
				<key>correctFileName</key>
				<string>axe.jpg</string>
				<key>answer</key>
				<string>axe</string>
				<key>question</key>
				<string>Something used for chopping</string>
			</dict>
			<dict>
				<key>correctFileName</key>
				<string>helicopter.jpg</string>
				<key>answer</key>
				<string>helicopter</string>
				<key>question</key>
				<string>A means of transport</string>
			</dict>
			<dict>
				<key>correctFileName</key>
				<string>axe.jpg</string>
				<key>answer</key>
				<string>axe</string>
				<key>question</key>
				<string>Something with a sharp edge</string>
			</dict>
			<dict>
				<key>correctFileName</key>
				<string>scorpion.jpg</string>
				<key>answer</key>
				<string>scorpion</string>
				<key>question</key>
				<string>Something with a sting</string>
			</dict>
			<dict>
				<key>correctFileName</key>
				<string>squirrel.jpg</string>
				<key>answer</key>
				<string>squirrel</string>
				<key>question</key>
				<string>Something with a diet of nuts and seeds</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>order</key>
		<integer>3</integer>
		<key>className</key>
		<string>MemoryRecallViewController</string>
		<key>categoryName</key>
		<string>Memory</string>
		<key>testName</key>
		<string>Immediate Recall</string>
		<key>preTestInstructions</key>
		<string>In this test, a story  should be read at a steady pace of 2 words per second/the story should take around 20 seconds to read out. When finished reading story aloud, say to participant “Now that’s the end of the story, what can you remember?”.
            
Select the parts that they remember correctly. Time for recall is unlimited, until participants say that they can remember no more. Self -corrections are allowed; only the final answer is taken for scoring.</string>
		<key>postTestMessage</key>
		<string>The “Memory - Immediate Recall” section is now completed.

The next section of the test is “Language - Spelling”</string>
		<key>story</key>
		<string>Last Sunday, the annual litter collection took place in Primrose Woods. Forty two people joined in to remove old bicycles and shopping trolleys. Mr Douglas Watt from the woodland project told local reporters that he was very impressed and especially proud of the 17 children who came along.</string>
		<key>buttonNames</key>
		<array>
			<string>Sunday</string>
			<string>Annual litter collection</string>
			<string>Primrose woods</string>
			<string>Forty-two people</string>
			<string>Bicycles and shopping trolleys</string>
			<string>Douglas watt</string>
			<string>Woodland project</string>
			<string>Impressed and especially proud</string>
			<string>17</string>
			<string>children</string>
		</array>
	</dict>
	<dict>
		<key>order</key>
		<integer>4</integer>
		<key>className</key>
		<string>LanguageSpellingViewController</string>
		<key>categoryName</key>
		<string>Language</string>
		<key>testName</key>
		<string>Spelling</string>
		<key>preTestInstructions</key>
		<string>In this test, the person is given a word and asked to spell it. If the person is using assistive technology, ask them to turn off any predictive text facility.  As the person responds with each letter, click ‘yes’ if it is the correct letter, no if it is not.

Unlimited time is given for spelling of each word. All words are assessed even if early words in the list are incorrect. Move on to the next word if participant is unable or unwilling to attempt spelling of one word.  Self corrections are allowed; only the final answer is taken.</string>
		<key>postTestMessage</key>
		<string>The “Language - Spelling” section is now completed.
            
The next section of the test is “Fluency - S”</string>
		<key>toSpell</key>
		<array>
			<string>Envelope</string>
			<string>Skateboard</string>
			<string>Constructing</string>
			<string>Partner</string>
			<string>Biscuit</string>
			<string>Lawnmower</string>
			<string>Deliver</string>
			<string>Recorded</string>
			<string>Coathanger</string>
			<string>Orchestra</string>
			<string>Screwdriver</string>
			<string>Brought</string>
		</array>
	</dict>
	<dict>
		<key>order</key>
		<integer>5</integer>
		<key>className</key>
		<string>FluencyLetterSViewController</string>
		<key>categoryName</key>
		<string>Fluency</string>
		<key>testName</key>
		<string>Letter S</string>
		<key>preTestInstructions</key>
		<string>The person can perform this task either by speaking or writing. In part one  Say: “I am going to give you a letter of the alphabet and I would like you to say or write as many words as you can beginning with that letter. But not names of people or places, or numbers. If writing, say: “You will have two minutes and the letter is S.” If speaking, say “You will have one minute and the letter is S.” Tell the participant to stop when the device vibrates.

In part two the person copies/repeats these words. If writing, say: “Copy these words as fast as possible. I will time you. Ready? Begin.” If speaking, say: “Read aloud these words as fast as possible. Before you do this, check that you can read them. I will time you. Ready? Begin.</string>
		<key>postTestMessage</key>
		<string>The “Fluency S” section is now completed.

The next section of the test is “Reverse Digit Span”</string>
	</dict>
	<dict>
		<key>buttonText</key>
		<array>
			<string>2 6</string>
			<string>5 8</string>
			<string>9 3 5</string>
			<string>4 1 6</string>
			<string>7 2 8 4</string>
			<string>9 5 7 3</string>
			<string>6 9 4 2 1</string>
			<string>8 3 2 5 6</string>
			<string>8 1 3 5 7 9</string>
			<string>3 6 2 7 3 4</string>
			<string>1 6 9 3 5 8 6</string>
			<string>2 3 6 8 4 9 2</string>
		</array>
		<key>order</key>
		<integer>6</integer>
		<key>className</key>
		<string>ExecutiveReverseDigitSpanViewController</string>
		<key>categoryName</key>
		<string>Executive</string>
		<key>testName</key>
		<string>Reverse Digit Span</string>
		<key>preTestInstructions</key>
		<string>Numbers should be read out at a pace of 1 number per second. Say: &quot;I am going to say some numbers and I would like you to say them back to me in reverse order. For example, if I say ‘2 3 4’, you should say ‘4 3 2’. Let’s have a practice.
            
If I say ‘7 1 9’, what would you say?&quot; If participant cannot complete the practice trial, another practice trial is provided at the level of two digits, before moving on to test items. If a participant cannot complete a practice trial at the level of two items, the test is scored as 0 out of 12 and no further test items are attempted. Advance warning that the number sequences will increase in length is provided at the start of each line of a trial.

In order to score a trial of a line as correct, participant must accurately recall all items in reverse order. No score is given for individual numbers correctly recalled in an incorrectly recalled sequence. If person gets at least one trial of a line correct, move on to the next line. Self-corrections are allowed; only the final answer is taken for scoring. Stop when person gets both trials of a line wrong.</string>
		<key>postTestMessage</key>
		<string>The Reverse Digits” section is now completed.

The next section of the test is “Alteration”</string>
	</dict>
	<dict>
		<key>buttonText</key>
		<array>
			<string>4-D</string>
			<string>5-E</string>
			<string>6-F</string>
			<string>7-G</string>
			<string>8-H</string>
			<string>9-I</string>
			<string>10-J</string>
			<string>11-K</string>
			<string>12-L</string>
			<string>13-M</string>
			<string>14-N</string>
			<string>15-O</string>
		</array>
		<key>order</key>
		<integer>7</integer>
		<key>className</key>
		<string>ExecutiveAlternationViewController</string>
		<key>categoryName</key>
		<string>Executive</string>
		<key>testName</key>
		<string>Alternation</string>
		<key>preTestInstructions</key>
		<string>text</string>
		<key>postTestMessage</key>
		<string>text</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>8</integer>
		<key>className</key>
		<string>FluencyLetterTViewController</string>
		<key>categoryName</key>
		<string>Fluency</string>
		<key>testName</key>
		<string>Letter T</string>
		<key>preTestInstructions</key>
		<string>The person can perform this task either by speaking or writing. In part one  Say: “I am going to give you a letter of the alphabet and I would like you to say or write as many words as you can beginning with that letter. But not names of people or places, or numbers. If writing, say: “You will have two minutes and the letter is S.” If speaking, say “You will have one minute and the letter is S.” Tell the participant to stop when the device vibrates.

In part two the person copies/repeats these words. If writing, say: “Copy these words as fast as possible. I will time you. Ready? Begin.” If speaking, say: “Read aloud these words as fast as possible. Before you do this, check that you can read them. I will time you. Ready? Begin.</string>
		<key>postTestMessage</key>
		<string>The “Fluency T” section is now completed.

The next section of the test is “Visuospatial - Dot Counting&quot;.</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>9</integer>
		<key>className</key>
		<string>VisuospatialDotCountingViewController</string>
		<key>categoryName</key>
		<string>Visuospatial</string>
		<key>testName</key>
		<string>Dot Counting</string>
		<key>preTestInstructions</key>
		<string></string>
		<key>postTestMessage</key>
		<string>The “Visuospatial - Dot Counting&quot; section is now completed.

The next section of the test is “Visuospatial - Dot Counting&quot;.</string>
		<key>imageDictionaries</key>
		<array>
			<dict>
				<key>order</key>
				<integer>0</integer>
				<key>filename</key>
				<string>visuiospatial1.jpg</string>
				<key>name</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>order</key>
		<integer>10</integer>
		<key>className</key>
		<string>VisuospatialCubeCountingViewController</string>
		<key>categoryName</key>
		<string>Visuospatial</string>
		<key>testName</key>
		<string>Cube Counting</string>
		<key>preTestInstructions</key>
		<string></string>
		<key>postTestMessage</key>
		<string>The “Visuospatial - Cube Counting” section is now completed.

The next section of the test is “Visuospatial - Number Location&quot;</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>11</integer>
		<key>className</key>
		<string>VisuospatialNumberLocationViewController</string>
		<key>categoryName</key>
		<string>Visuospatial</string>
		<key>testName</key>
		<string>Number Location</string>
		<key>preTestInstructions</key>
		<string></string>
		<key>postTestMessage</key>
		<string>The “Visuospatial - Number Location” section is now completed.

The next section of the test is “Executive - Sentence Completion”</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>12</integer>
		<key>className</key>
		<string>ExecutiveSentenceCompletionViewController</string>
		<key>categoryName</key>
		<string>Executive</string>
		<key>testName</key>
		<string>Sentence Completion</string>
		<key>questions</key>
		<array>
			<string>The postman knocked on the...</string>
			<string>He brought his umbrella with him in case of</string>
			<string>Sally spread her toast with butter and</string>
			<string>John went to the barbers to get his hair</string>
			<string>She dived into the swimming</string>
			<string>They all went to the local café for something to</string>
		</array>
		<key>buttonNames</key>
		<array>
			<string>Different</string>
			<string>Related</string>
			<string>Exact</string>
		</array>
		<key>preTestInstructions</key>
		<string></string>
		<key>postTestMessage</key>
		<string>The “Executive - Sentence Completion” section is now completed.

The next section of the test is “Social Cognition - Part A&quot;.</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>13</integer>
		<key>className</key>
		<string>SocialCognitionPartAViewController</string>
		<key>categoryName</key>
		<string>Social Cognition</string>
		<key>testName</key>
		<string>Part A</string>
		<key>questions</key>
		<array>
			<array>
				<string>cow.jpg</string>
				<string>wasp.jpg</string>
				<string>koala.jpg</string>
				<string>lion.jpg</string>
				<integer>1</integer>
			</array>
			<array>
				<string>pear.jpg</string>
				<string>apple.jpg</string>
				<string>pineapple.jpg</string>
				<string>banana.jpg</string>
				<integer>3</integer>
			</array>
			<array>
				<string>table lamp.jpg</string>
				<string>wardrobe.jpg</string>
				<string>bed.jpg</string>
				<string>computer desk.jpg</string>
				<integer>0</integer>
			</array>
			<array>
				<string>cat.jpg</string>
				<string>bird.jpg</string>
				<string>giraffe.jpg</string>
				<string>horse.jpg</string>
				<integer>2</integer>
			</array>
			<array>
				<string>tomato.jpg</string>
				<string>cauliflower.jpg</string>
				<string>onion.jpg</string>
				<string>aubergine.jpg</string>
				<integer>3</integer>
			</array>
			<array>
				<string>truck.jpg</string>
				<string>train.jpg</string>
				<string>airplane.jpg</string>
				<string>bicycle.jpg</string>
				<integer>0</integer>
			</array>
		</array>
		<key>preTestInstructions</key>
		<string></string>
		<key>postTestMessage</key>
		<string>The “Social Cognition - Part A” section is now completed.

The next section of the test is “Social Cognition - Part B&quot;.</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>14</integer>
		<key>className</key>
		<string>SocialCognitionPartAViewController</string>
		<key>categoryName</key>
		<string>Social Cognition</string>
		<key>testName</key>
		<string>Part B</string>
		<key>preTestInstructions</key>
		<string></string>
		<key>postTestMessage</key>
		<string>The “Social Cognition - Part B” section is now completed.

The next section of the test is “Memory - Delayed Recall&quot;.</string>
	</dict>
	<dict>
		<key>order</key>
		<integer>15</integer>
		<key>className</key>
		<string>MemoryDelayedRecallViewController</string>
		<key>categoryName</key>
		<string>Memory</string>
		<key>testName</key>
		<string>Delayed Recall</string>
		<key>preTestInstructions</key>
		<string>Text</string>
		<key>postTestMessage</key>
		<string>The “Memory - Delayed Recall” section is now completed.</string>
		<key>buttonNames</key>
		<array>
			<string>Sunday</string>
			<string>Annual litter collection</string>
			<string>Primrose woods</string>
			<string>Forty-two people</string>
			<string>Bicycles and shopping trolleys</string>
			<string>Douglas watt</string>
			<string>Woodland project</string>
			<string>Impressed and especially proud</string>
			<string>17</string>
			<string>children</string>
		</array>
	</dict>
	<dict>
		<key>order</key>
		<integer>16</integer>
		<key>className</key>
		<string>MemoryDelayedRecognitionViewController</string>
		<key>categoryName</key>
		<string>Memory</string>
		<key>testName</key>
		<string>Delayed Recognition</string>
		<key>preTestInstructions</key>
		<string></string>
		<key>postTestMessage</key>
		<string>The “Memory - Delayed Recall” section is now completed.</string>
	</dict>
</array>
</plist>
