<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>order</key>
		<integer>0</integer>
		<key>className</key>
		<string>LanguageNamingViewController</string>
		<key>categoryName</key>
		<string>Language</string>
		<key>testName</key>
		<string>Naming</string>
		<key>preTestInstructions</key>
		<string>lorem ipsum</string>
		<key>postTestMessage</key>
		<string>lorem ipsum</string>
		<key>imageDictionaries</key>
		<array>
			<dict>
				<key>order</key>
				<integer>0</integer>
				<key>filename</key>
				<string>scorpion.jpg</string>
				<key>name</key>
				<string>scorpion</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>1</integer>
				<key>filename</key>
				<string>bow.jpg</string>
				<key>name</key>
				<string>bow.jpg</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>2</integer>
				<key>filename</key>
				<string>helicopter.jpg</string>
				<key>name</key>
				<string>helicopter</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>3</integer>
				<key>filename</key>
				<string>fox.jpg</string>
				<key>name</key>
				<string>fox</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>4</integer>
				<key>filename</key>
				<string>axe.jpg</string>
				<key>name</key>
				<string>axe</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>5</integer>
				<key>filename</key>
				<string>squirrel.jpg</string>
				<key>name</key>
				<string>squirrel</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>6</integer>
				<key>filename</key>
				<string>swan.jpg</string>
				<key>name</key>
				<string>swan</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>7</integer>
				<key>filename</key>
				<string>accordion.jpg</string>
				<key>name</key>
				<string>accordion</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>order</key>
		<integer>1</integer>
		<key>className</key>
		<string>LanguageComprehensionViewController</string>
		<key>categoryName</key>
		<string>Language</string>
		<key>testName</key>
		<string>Comprehension</string>
		<key>preTestInstructions</key>
		<string>lorem ipsum 2</string>
		<key>postTestMessage</key>
		<string>lorem ipsum 2</string>
		<key>imageDictionaries</key>
		<array>
			<dict>
				<key>order</key>
				<integer>0</integer>
				<key>filename</key>
				<string>scorpion.jpg</string>
				<key>name</key>
				<string>scorpion</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>1</integer>
				<key>filename</key>
				<string>bow.jpg</string>
				<key>name</key>
				<string>bow.jpg</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>2</integer>
				<key>filename</key>
				<string>helicopter.jpg</string>
				<key>name</key>
				<string>helicopter</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>3</integer>
				<key>filename</key>
				<string>fox.jpg</string>
				<key>name</key>
				<string>fox</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>4</integer>
				<key>filename</key>
				<string>axe.jpg</string>
				<key>name</key>
				<string>axe</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>5</integer>
				<key>filename</key>
				<string>squirrel.jpg</string>
				<key>name</key>
				<string>squirrel</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>6</integer>
				<key>filename</key>
				<string>swan.jpg</string>
				<key>name</key>
				<string>swan</string>
			</dict>
			<dict>
				<key>order</key>
				<integer>7</integer>
				<key>filename</key>
				<string>accordion.jpg</string>
				<key>name</key>
				<string>accordion</string>
			</dict>
		</array>
		<key>questions</key>
		<array>
			<dict>
				<key>correctFileName</key>
				<string>helicopter.jpg</string>
				<key>answer</key>
				<string>helicopter</string>
				<key>question</key>
				<string>Something you can fly in</string>
			</dict>
			<dict>
				<key>correctFileName</key>
				<string>swan.jpg</string>
				<key>answer</key>
				<string>swan</string>
				<key>question</key>
				<string>Something with webbed feet</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>order</key>
		<integer>2</integer>
		<key>className</key>
		<string>MemoryRecallViewController</string>
		<key>categoryName</key>
		<string>Memory</string>
		<key>testName</key>
		<string>Immediate Recall</string>
		<key>preTestInstructions</key>
		<string>lorem ipsum 2</string>
		<key>postTestMessage</key>
		<string>lorem ipsum 2</string>
		<key>story</key>
		<string>Last Sunday, the annual litter collection took place in Primrose Woods. Forty two people joined in to remove old bicycles and shopping trolleys. Mr Douglas Watt from the woodland project told local reporters that he was very impressed and especially proud of the 17 children who came along.
Last Sunday, the annual litter collection took place in Primrose Woods. Forty two people joined in to remove old bicycles and shopping trolleys. Mr Douglas Watt from the woodland project told local reporters that he was very impressed and especially proud of the 17 children who came along.
Last Sunday, the annual litter collection took place in Primrose Woods. Forty two people joined in to remove old bicycles and shopping trolleys. Mr Douglas Watt from the woodland project told local reporters that he was very impressed and especially proud of the 17 children who came along.
Last Sunday, the annual litter collection took place in Primrose Woods. Forty two people joined in to remove old bicycles and shopping trolleys. Mr Douglas Watt from the woodland project told local reporters that he was very impressed and especially proud of the 17 children who came along.
Last Sunday, the annual litter collection took place in Primrose Woods. Forty two people joined in to remove old bicycles and shopping trolleys. Mr Douglas Watt from the woodland project told local reporters that he was very impressed and especially proud of the 17 children who came along.
Last Sunday, the annual litter collection took place in Primrose Woods. Forty two people joined in to remove old bicycles and shopping trolleys. Mr Douglas Watt from the woodland project told local reporters that he was very impressed and especially proud of the 17 children who came along.</string>
	</dict>
</array>
</plist>
